In [1]:
#Ahora vamos trabajar importando datos de hojas de calculo
import pandas as pd

In [2]:
url = 'https://github.com/alura-cursos/Pandas/blob/main/emissoes_CO2.xlsx?raw=True'

In [5]:
%conda install openpyxl

Jupyter detected...
Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/ygor/miniconda3/envs/jupyter

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2025.4.26          |  py313h06a4308_0         156 KB
    ------------------------------------------------------------
                                           Total:         156 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/linux-64::et_xmlfile-1.1.0-py313h06a4308_1
  openpyxl           pkgs/main/linux-64::openpyxl-3.1.5-py313h5eee18b_1

The following packages will be UPDATED:

  certifi                         2025.1.31-py313h06a4308_0 --> 2025.4.26-py313h06a4308_0



Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [6]:
datos = pd.read_excel(url)
datos.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Para saber si el archivo tiene mas hojas con información usamos el siguiente codigo
pd.ExcelFile(url).sheet_names

['emissoes_C02', 'emissoes_percapita', 'fontes']

In [8]:
#Por defecto siempre abre la primera hoja
#Pero podemos especificar que hoja queremos abrir con el parametro sheet_name()
#Se puede usar el nombre de la hoja o el indice(el primero es igual a 0)
percapita = pd.read_excel(url, sheet_name='emissoes_percapita')
percapita.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = pd.read_excel(url, sheet_name=None)

for name_sheet, dfs in df.items():
    print(f'Hoja: {name_sheet}')
    print(dfs.head())

Hoja: emissoes_C02
          País ISO 3166-1 alpha-3   Ano  Total  Carvão  Oléo  Gás  Cimento  \
0  Afeganistão                AFG  1750    0.0     NaN   NaN  NaN      NaN
1  Afeganistão                AFG  1751    0.0     NaN   NaN  NaN      NaN
2  Afeganistão                AFG  1752    0.0     NaN   NaN  NaN      NaN
3  Afeganistão                AFG  1753    0.0     NaN   NaN  NaN      NaN
4  Afeganistão                AFG  1754    0.0     NaN   NaN  NaN      NaN

   Queima  Outro  Per Capita
0     NaN    NaN         NaN
1     NaN    NaN         NaN
2     NaN    NaN         NaN
3     NaN    NaN         NaN
4     NaN    NaN         NaN
Hoja: emissoes_percapita
          País ISO 3166-1 alpha-3   Ano  Total  Carvão  Óleo  Gás  Cimento  \
0  Afeganistão                AFG  1750    NaN     NaN   NaN  NaN      NaN
1  Afeganistão                AFG  1751    NaN     NaN   NaN  NaN      NaN
2  Afeganistão                AFG  1752    NaN     NaN   NaN  NaN      NaN
3  Afeganistão                AFG  1753    NaN     NaN   NaN  NaN      NaN
4  Afeganistão                AFG  1754    NaN     NaN   NaN  NaN      NaN

   Queima  Outro
0     NaN    NaN
1     NaN    NaN
2     NaN    NaN
3     NaN    NaN
4     NaN    NaN
Hoja: fontes
          País ISO 3166-1 alpha-3   Ano   Total  Carvão    Oléo     Gás  \
0  Afeganistão                AFG  1750  [NONE]  [NONE]  [NONE]  [NONE]
1  Afeganistão                AFG  1751  [NONE]  [NONE]  [NONE]  [NONE]
2  Afeganistão                AFG  1752  [NONE]  [NONE]  [NONE]  [NONE]
3  Afeganistão                AFG  1753  [NONE]  [NONE]  [NONE]  [NONE]
4  Afeganistão                AFG  1754  [NONE]  [NONE]  [NONE]  [NONE]

  Cimento  Queima   Outro Per Capita
0  [NONE]  [NONE]  [NONE]     [NONE]
1  [NONE]  [NONE]  [NONE]     [NONE]
2  [NONE]  [NONE]  [NONE]     [NONE]
3  [NONE]  [NONE]  [NONE]     [NONE]
4  [NONE]  [NONE]  [NONE]     [NONE]

In [14]:
emiciones = df['emissoes_C02']
emiciones.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN